In [170]:
import pandas as pd
import geopandas as gp
import numpy as np
%load_ext autotime

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 776 Âµs (started: 2022-03-14 21:13:09 -04:00)

In [ ]:
# Tax Assessor file
125	TaxYearAssessed	Year of assessed values
126	TaxAssessedValueTotal	Total assessed value
204	UnitsCount	The number of units encompassed by the property.

In [15]:
# Community Demographics / parcel DEMAND POINTS (different from POIs) 
xl = pd.ExcelFile('AssessorPopulationCount.xlsx')
sheets = xl.sheet_names
sheets

['Cover',
 'All_Records',
 'Agricultural',
 'Commercial',
 'Government',
 'Industrial',
 'Other',
 'Residential']

In [10]:
df1 = xl.parse(sheets[1])
df1.head()

,StateCode,FipsCode,CountyName,TotalParcels,CommercialParcels,ResidentialParcels,OtherParcels,TaxAmountPopulation,TaxYear,LastAssrUpdate,TapeCutoffDate,AssessmentYear
0,AL,01001,Autauga,30946,883,21912,8151,0.87491,2021.0,2021-10-01,2021-01-01,2021.0
1,AL,01003,Baldwin,163637,5662,134313,23662,0.84453,2021.0,2021-11-08,2020-01-01,2020.0
2,AL,01005,Barbour,23374,688,9411,13275,0.88166,2021.0,2022-01-20,2021-01-01,2021.0
3,AL,01007,Bibb,15379,451,8447,6481,0.85623,2021.0,2022-01-14,2021-01-01,2021.0
4,AL,01009,Blount,42054,880,19845,21329,0.86294,2021.0,2021-10-11,2020-01-01,2020.0

In [12]:
xl.parse(sheets[2]).head()

,StateCode,FipsCode,CountyName,DeedMin,DeedMax,CommercialDeedDocs,ResidentialDeedDocs,SumDeedDocs,MortgageMin,MortgageMax,CommercialMortgageDocs,ResidentialMortgageDocs,SumMortgageDocs
0,AL,01001,Autauga,2007-01-02,2017-05-15,9337.0,8430.0,17767.0,2007-01-02,2017-05-15,8186.0,8205.0,16391.0
1,AL,01003,Baldwin,1989-05-08,2022-02-16,70987.0,241550.0,312537.0,2004-05-03,2022-02-16,18810.0,115379.0,134189.0
2,AL,01005,Barbour,2006-01-03,2017-01-10,5818.0,2735.0,8553.0,2006-01-03,2016-10-04,6508.0,749.0,7257.0
3,AL,01007,Bibb,2007-01-02,2022-02-10,6522.0,5240.0,11762.0,2007-01-03,2022-02-10,5301.0,1826.0,7127.0
4,AL,01009,Blount,2006-01-03,2021-03-31,18609.0,14243.0,32852.0,2006-01-03,2021-02-26,13946.0,11995.0,25941.0

# ATTOM POI

In [178]:
poi = pd.read_csv('POI_sample.csv')
poi.shape

(1929, 20)

time: 14.1 ms (started: 2022-03-14 22:44:33 -04:00)

In [929]:
poi

,BUSNAME,STREET,CITY,STATENAME,ZIP,COUNTYNAME,PHONE,STATE,COUNTY,LONGITUDE,LATITUDE,LINEOFBUS,SIC,INDUSTRY,FRANCHISE,CATEGORY,PRIMARY,COUNTY3,OBID,GEO_MATCH_CODE_TEXT
0,First Assembly of God,317 S Locust St,Cameron,MISSOURI,64429,Clinton County,816-632-3628,29,29049,-94.234266,39.737117,MISC ASSOCIATIONS,8661,CHURCHES ASSEMBLY OF GOD,NaN,ORGANIZATIONS - ASSOCIATIONS,PRIMARY,49,24591648,ADDRESS MATCH
1,Giant Model Products,3972 NE Breckenridge Ct,Lathrop,MISSOURI,64465,Clinton County,816-528-3467,29,29049,-94.338725,39.563583,MISC SHOPPING,5945,HOBBY AND MODEL SUPPLIES,NaN,SHOPPING,PRIMARY,49,24877143,ADDRESS MATCH
2,Pizza Hut / Wingstreet,202 W Clay Ave,Plattsburg,MISSOURI,64477,Clinton County,816-539-2234,29,29049,-94.448230,39.563905,RESTAURANTS,5812,RESTAURANTS - PIZZA,NaN,EATING - DRINKING,PRIMARY,49,40309567,ADDRESS MATCH
3,Defreece Real Estate,202 N 2nd St,Plattsburg,MISSOURI,64477,Clinton County,816-539-0777,29,29049,-94.448503,39.565892,MISC SERVICES,6531,REAL ESTATE - BROKERS & AGENTS,NaN,PERSONAL SERVICES,PRIMARY,49,38753572,ADDRESS MATCH
4,R & M Pole Line Construction LLC,1003 SW Shaver Rd,Plattsburg,MISSOURI,64477,Clinton County,816-539-0214,29,29049,-94.483047,39.553798,MISC SERVICES,1521,CONTRACTORS GENERAL,NaN,PERSONAL SERVICES,PRIMARY,49,35831904,ADDRESS MATCH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924,Sherri's Pharmacy Services,108 S Main St,Grant City,MISSOURI,64456,Worth County,660-564-3784,29,29227,-94.414756,40.487707,PHARMACIES,5912,PHARMACIES,NaN,SHOPPING,PRIMARY,227,32992001,ZIP+4 CENTROID
1925,Rural Missouri Insurance Agency Inc,4 W 4th St,Grant City,MISSOURI,64456,Worth County,660-564-3575,29,29227,-94.414620,40.485451,MISC FINANCIAL,6411,INSURANCE,NaN,BANKS - FINANCIAL,PRIMARY,227,32513991,ADDRESS MATCH
1926,Mosaic Family Care Grant City,307 E 2nd St,Grant City,MISSOURI,64456,Worth County,660-564-3322,29,29227,-94.409683,40.487102,MISC SERVICES,8011,CLINICS MEDICAL,NaN,HEALTH CARE SERVICES,PRIMARY,227,38671925,ADDRESS MATCH
1927,Headstone Country Missouri,301 S Lyon St,Grant City,MISSOURI,64456,Worth County,660-564-2142,29,29227,-94.412103,40.485915,AUTOMOTIVE SERVICES,5531,AUTO - TIRES,NaN,AUTOMOTIVE SERVICES,PRIMARY,227,25744307,ZIP+4 CENTROID
1928,Times Tribune,1 E 3rd St,Grant City,MISSOURI,64456,Worth County,660-564-3603,29,29227,-94.333600,40.488200,MISC SHOPPING,2711,NEWSPAPERS,NaN,SHOPPING,PRIMARY,227,42728625,ZIP CENTROID

time: 14.9 ms (started: 2022-03-23 10:35:30 -04:00)

In [927]:
poi.count()

BUSNAME                1929
STREET                 1929
CITY                   1929
STATENAME              1929
ZIP                    1929
COUNTYNAME             1929
PHONE                  1882
STATE                  1929
COUNTY                 1929
LONGITUDE              1929
LATITUDE               1929
LINEOFBUS              1929
SIC                    1929
INDUSTRY               1929
FRANCHISE                 2
CATEGORY               1929
PRIMARY                1929
COUNTY3                1929
OBID                   1929
GEO_MATCH_CODE_TEXT    1929
dtype: int64

time: 5.79 ms (started: 2022-03-23 10:34:38 -04:00)

In [933]:
poi[[
'LINEOFBUS',
'CATEGORY',
    
    
'SIC',
'INDUSTRY',
'FRANCHISE',
'PRIMARY',
]].sample(10)

,LINEOFBUS,CATEGORY,SIC,INDUSTRY,FRANCHISE,PRIMARY
366,JEWELRY,SHOPPING,5944,JEWELRY,NaN,PRIMARY
37,AUTOMOTIVE SERVICES,AUTOMOTIVE SERVICES,5521,AUTO DEALERS USED CARS & VANS,NaN,PRIMARY
101,SPORTS AND RECREATION,ATTRACTIONS - RECREATION,7999,CARNIVALS,NaN,PRIMARY
541,FINANCIAL SERVICES,BANKS - FINANCIAL,6531,REAL ESTATE LOANS,NaN,PRIMARY
1456,MISC SERVICES,PERSONAL SERVICES,7299,APARTMENT REFERRAL SVC,NaN,PRIMARY
1662,MISC SERVICES,PERSONAL SERVICES,4311,POST OFFICES & MAIL SVC,NaN,PRIMARY
1276,RESTAURANTS,EATING - DRINKING,5812,RESTAURANTS,NaN,PRIMARY
1778,MISC FINANCIAL,BANKS - FINANCIAL,6411,INSURANCE,NaN,PRIMARY
217,MISC EATERIES,EATING - DRINKING,5812,RESTAURANTS FAST FOOD,NaN,PRIMARY
1851,MISC EATERIES,EATING - DRINKING,5812,RESTAURANTS FAST FOOD,NaN,PRIMARY

time: 7.05 ms (started: 2022-03-23 10:38:35 -04:00)

In [22]:
#  Clinton County, Nodaway County,  Worth County
# In order: # COUNTY FIPS: 29049, 29147, 29227 
poi.COUNTY.unique()

array([29049, 29147, 29227])

In [32]:
poi[poi.COUNTY == 29049].shape

(815, 20)

In [31]:
poi[poi.COUNTY == 29147].shape

(1056, 20)

In [33]:
poi[poi.COUNTY == 29227].shape

(58, 20)

In [286]:
!ls -lhS

total 119M
-rw-r--r-- 1 nhat nhat  43M Mar 14 23:26  regrid.geojson
-rw-r--r-- 1 nhat nhat  32M Mar 14 17:58  AS-sample.csv
-rw-r--r-- 1 nhat nhat  28M Mar 16 11:03  attom-poi-mo.csv
-rw-r--r-- 1 nhat nhat  11M Mar 16 10:53  AS-coverage-attributes.csv
-rw-r--r-- 1 nhat nhat 5.0M Mar 14 23:21  attom.csv
-rw-r--r-- 1 nhat nhat 427K Mar 14 16:06  attom-poi-mo-3counties.csv
-rw-r--r-- 1 nhat nhat 249K Mar  7 19:41  AS-coverage.csv
-rw-r--r-- 1 nhat nhat  85K Mar 16 10:54  main-attom.ipynb
-rw-r--r-- 1 nhat nhat  55K Mar 14 15:46  AS-enums.csv
-rw-r--r-- 1 nhat nhat  49K Mar 14 15:52 'AS-schema?.csv'
-rw-r--r-- 1 nhat nhat  40K Mar  7 19:38  neighborhood-comm-layout.csv
-rw-r--r-- 1 nhat nhat  35K Mar  7 19:37  AS-schema.csv
-rw-r--r-- 1 nhat nhat  28K Mar  7 19:01  POI-coverage-state-cat.csv
-rw-r--r-- 1 nhat nhat  26K Mar 14 15:44  AS-technical.csv
-rw-r--r-- 1 nhat nhat  13K Mar 14 20:20  AS-PropertyUseStandardizedDescription.csv
drwxr-xr-x 2 nhat nhat 4.0K Mar 14 16:13  data
drwxr-xr-x 2 nhat nhat 4.0K Mar 14 15:46  enums
drwxr-xr-x 3 nhat nhat 4.0K Mar 16 10:26  extras
-rw-r--r-- 1 nhat nhat 4.0K Mar  7 19:11  POI-businessSubCat-enums.csv
-rw-r--r-- 1 nhat nhat 2.2K Mar  7 19:11  POI-schema.csv
-rw-r--r-- 1 nhat nhat 1.9K Mar  7 19:01  POI-coverage-state-summary.csv
time: 147 ms (started: 2022-03-16 11:03:35 -04:00)

# Tax Assessor File

In [287]:
ALL_TAX_COLS = ['[ATTOM ID]', 'SitusCounty', 'PropertyJurisdictionName', 'SitusStateCountyFIPS',
'CensusTract', 'CensusBlock', 'ParcelNumberRaw', 'ParcelNumberYearChange',
'ParcelAccountNumber', 'PropertyAddressFull', 'PropertyLatitude',
'PropertyLongitude', 'GeoQuality', 'LegalDescription', 'LegalLotNumber1',
'LegalLotNumber2', 'PartyOwner1NameFull', 'TrustDescription',
'CompanyFlag', 'PartyOwner2NameFull', 'OwnerTypeDescription1',
'OwnershipVestingRelationCode', 'PartyOwner3NameFull', 'PartyOwner4NameFull', 'OwnerTypeDescription2',
'ContactOwnerMailAddressFull', 'ContactOwnerMailAddressInfoFormat', 'StatusOwnerOccupiedFlag',
'DeedOwner1NameFull', 'DeedOwner2NameFull', 'DeedOwner3NameFull', 'DeedOwner4NameFull',
'TaxYearAssessed', 'TaxAssessedValueTotal', 'TaxAssessedValueImprovements', 'TaxAssessedValueLand',
'PreviousAssessedValue', 'TaxMarketValueYear', 'TaxMarketValueTotal',
'TaxMarketValueImprovements', 'TaxMarketValueLand', 'TaxFiscalYear', 'TaxRateArea',
'TaxBilledAmount', 'TaxDelinquentYear', 'YearBuilt',
'YearBuiltEffective', 'PropertyUseGroup', 'PropertyUseStandardized',
'AssessorLastSaleDate', 'AssessorLastSaleAmount', 'AssessorPriorSaleDate', 'AssessorPriorSaleAmount',
'AreaBuilding', 'AreaBuildingDefinitionCode', 'AreaGross', 'Area1stFloor',
'Area2ndFloor', 'AreaUpperFloors', 'AreaLotSF', 'AreaLotDepth',
'AreaLotWidth', 'ParkingGarage', 'ParkingGarageArea',
'ParkingCarport', 'ParkingCarportArea', 'RoomsCount',
'StoriesCount', 'UnitsCount', 'AccessabilityElevatorFlag', 'AccessabilityHandicapFlag', 'RoofMaterial', 'RoofConstruction', 'ViewDescription', 'ParkingSpaceCount', 'DrivewayArea',
'DrivewayMaterial', 'BuildingsCount', 'PoleStructureArea',
'PoleStructureFlag', 'PublicationDate',]

time: 975 Âµs (started: 2022-03-16 11:24:42 -04:00)

In [288]:
tax = pd.read_csv('AS-sample.csv')[ALL_TAX_COLS]
tax = tax.rename(columns={'[ATTOM ID]' : 'attomid'})
tax.shape

/home/nhat/anaconda3/envs/py39/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,28,33,34,53,59,71,78,79,80,81,82,83,88,112,113,114,115,116,118,119,120,121,154,257) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(32312, 81)

time: 729 ms (started: 2022-03-16 11:24:43 -04:00)

In [289]:
tax.SitusCounty.unique()

array(['Nodaway', 'Clinton', 'Worth'], dtype=object)

time: 3.35 ms (started: 2022-03-16 11:24:46 -04:00)

# Misc

In [72]:
# NULL	UNKNOWN OR NOT PROVIDED
# 0	Rooftop
# 1	Street Level 
# 5	ZIP Centroid
# 9	County Level
tax.GeoQuality.value_counts()

0.0    30415
5.0     1119
9.0      347
1.0      215
Name: GeoQuality, dtype: int64

In [77]:
 # NULL	UNKNOWN OR NOT PROVIDED
 # 1	Owner Occupied
 # Y	Owner Occupied
 # 0	Not Owner Occupied or Unknown
tax.StatusOwnerOccupiedFlag.value_counts()

0.0    16659
1.0    13817
Name: StatusOwnerOccupiedFlag, dtype: int64

In [87]:
tax.ContactOwnerMailAddressInfoFormat.value_counts()

S    27013
P     2500
H      909
R        3
Name: ContactOwnerMailAddressInfoFormat, dtype: int64

In [294]:
cols1 = ['attomid', 
'SitusStateCountyFIPS',         
'CensusBlock',
'PropertyAddressFull',
'PropertyLatitude',
'PropertyLongitude',         
'PartyOwner1NameFull',]

time: 367 Âµs (started: 2022-03-16 11:26:17 -04:00)

# Demand Points and/or MDU: Tax Assessor File

Why MDUs are so important in IIJA? ISPs want to install internet and wifi infrastructure or providing reduced-cost broadband within a multi-family residential building, with priority given to a residential building that: 
- has substantial share of unserved households or
- is in a location in which the percentage of individuals with a household income that is at or below 150% of the poverty line applicable to a family of the size involved is higher than the national percentage of such individuals

In [296]:
cols3 = ['YearBuilt',
'PropertyUseGroup',
'PropertyUseStandardized',
'AreaBuilding',
'AreaBuildingDefinitionCode',
# 'AreaGross', # all null
# 'Area1stFloor', # all null
# 'Area2ndFloor', # all null
# 'AreaUpperFloors', # all null
'AreaLotSF',
'ParkingGarage',
'ParkingGarageArea', ]
tax[cols3].sample(3)

,YearBuilt,PropertyUseGroup,PropertyUseStandardized,AreaBuilding,AreaBuildingDefinitionCode,AreaLotSF,ParkingGarage,ParkingGarageArea
14010,NaN,AGRICULTURE / FARMING,392,0,NaN,1467972,NaN,NaN
8916,1973.0,Residential,181,1050,10.0,14985,NaN,NaN
28447,1920.0,Residential,383,0,NaN,3367188,999.0,484.0

time: 8.73 ms (started: 2022-03-16 11:26:24 -04:00)

### PropertyUseGroup & [most detailed] PropertyUseStandardized
- checkout AS-PropertyUseStandardizedDescription.csv file

### TODO: COMBINE PropertyUseGroup/PropertyUseStandardized with POI data (BizCat/SIC code)

In [88]:
# NULL  UNKNOWN OR NOT PROVIDED
# OTHER / UNKNOWN The use for the property cannot be determined or is not associated with the other Property Use Groups
# Agriculture / Farming The general use for the property is for agriculture or farming purposes
# Commercial  The general use for the property is for commercial purposes
# Industrial  The general use for the property is for industrial purposes
# Public Works  Land which may be one of the following: Public spaces (i.e. parks and beaches), public buildings (i.e. schools, hospitals, courthouse), public services (i.e. water treatment, electrical grid/product, dams)
# Residential The general use for the property is for residential purposes
# Vacant Land Land which is typically void of any structures or improvements
tax.PropertyUseGroup.value_counts()

Residential              25121
AGRICULTURE / FARMING     4128
VACANT LAND               1682
Commercial                 727
OTHER / UNKNOWN            575
INDUSTRIAL                  31
COMMERCIAL                  27
PUBLIC WORKS                21
Name: PropertyUseGroup, dtype: int64

In [116]:
tax[cols3].isnull().sum()

YearBuilt                     14993
PropertyUseGroup                  0
PropertyUseStandardized           0
AreaBuilding                      0
AreaBuildingDefinitionCode    15879
AreaLotSF                         0
ParkingGarage                 24193
ParkingGarageArea             24813
dtype: int64

In [297]:
cols4 = ['RoomsCount',
'StoriesCount',
'UnitsCount',
'RoofMaterial',
'RoofConstruction',
'ParkingSpaceCount',
'BuildingsCount',
'PublicationDate',]

time: 369 Âµs (started: 2022-03-16 11:26:28 -04:00)

In [136]:
tax[cols4].isnull().sum()

RoomsCount               0
StoriesCount         20881
UnitsCount               0
RoofMaterial         17447
RoofConstruction     18091
ParkingSpaceCount        0
BuildingsCount       30576
PublicationDate          0
dtype: int64

#### Might be useful fields:
-  ParkingSpaceCount	The total number of parking spaces exclusive to the property.
      - 100% = RELIABLE: what could we tell from ParkingSpaceCount?
- most (13327 of the roofs) = 109	Asphalt

In [264]:
attom_parcels.TaxMarketValueImprovements.isnull().sum()

0

time: 4.83 ms (started: 2022-03-14 23:59:34 -04:00)

In [255]:
 cols1 + cols3 + cols4

['row_id',
 'SitusStateCountyFIPS',
 'CensusBlock',
 'PropertyAddressFull',
 'PropertyLatitude',
 'PropertyLongitude',
 'PartyOwner1NameFull',
 'YearBuilt',
 'PropertyUseGroup',
 'PropertyUseStandardized',
 'AreaBuilding',
 'AreaBuildingDefinitionCode',
 'AreaLotSF',
 'ParkingGarage',
 'ParkingGarageArea',
 'RoomsCount',
 'StoriesCount',
 'UnitsCount',
 'RoofMaterial',
 'RoofConstruction',
 'ParkingSpaceCount',
 'BuildingsCount',
 'PublicationDate']

time: 2.06 ms (started: 2022-03-14 23:21:52 -04:00)

In [842]:
attom_parcels = tax[['attomid', 'TaxMarketValueTotal', 'TaxMarketValueImprovements' ] + cols1 + cols3 + cols4]
attom_parcels.shape

(32312, 26)

time: 4.94 ms (started: 2022-03-21 15:04:38 -04:00)

In [843]:
attom_parcels.sample(4)

,attomid,TaxMarketValueTotal,TaxMarketValueImprovements,attomid,SitusStateCountyFIPS,CensusBlock,PropertyAddressFull,PropertyLatitude,PropertyLongitude,PartyOwner1NameFull,...,ParkingGarage,ParkingGarageArea,RoomsCount,StoriesCount,UnitsCount,RoofMaterial,RoofConstruction,ParkingSpaceCount,BuildingsCount,PublicationDate
8513,299496275,142890,108020,299496275,29049,5108.0,6801 SE HORSESHOE DR,39.474346,-94.337593,WILLIAM R JAMES,...,NaN,NaN,0,NaN,98,109.0,258.0,0,NaN,2022/03/10
18113,299493190,186560,147400,299493190,29049,3062.0,904 S BIRCH AVE,39.555239,-94.453667,CHARLES E KILLGORE,...,69.0,1348.0,0,1.0,103,109.0,251.0,5,NaN,2022/03/10
24118,299494668,271480,234520,299494668,29049,3076.0,7163 SW KAREN RD,39.472897,-94.575936,CURTIS FOSTER,...,11.0,665.0,0,2.0,103,109.0,258.0,2,NaN,2022/03/10
202,299937028,87570,78780,299937028,29147,3139.0,27266 IVORY RD,40.327185,-94.863799,FLORENCE S DEVERS,...,NaN,NaN,5,1.0,0,109.0,253.0,0,NaN,2022/03/10

time: 15 ms (started: 2022-03-21 15:04:42 -04:00)

### ATTOM 3 counties = 32312 properties; compare to REGRID parcels!

In [174]:
parcels_files = ['~/regrid-bucket/mo_clinton.geojson.zip',
'~/regrid-bucket/mo_nodaway.geojson.zip',
'~/regrid-bucket/mo_worth.geojson.zip',]

parcels = []
for file in parcels_files:
    df = gp.read_file(file)
    parcels.append(df)

parcels = pd.concat(parcels)
parcels.shape

(27010, 135)

time: 14.5 s (started: 2022-03-14 21:15:03 -04:00)

In [256]:
parcel_cols = ['address',
 'original_address',
 'address2',
 'legaldesc',            
 'geoid',
 'census_blockgroup',
 'owner',
 'yearbuilt',
 'lbcs_activity',
 'lbcs_function',
 'lbcs_ownership',
 'lbcs_site',
 'lbcs_structure',
 'rdi',
 'usecode',
 'usedesc',
 'usps_vacancy',
 'usps_vacancy_date',
 'll_bldg_count',
 'll_bldg_footprint_sqft',   
 'geometry',
 'lat',
 'lon',               
]

time: 498 Âµs (started: 2022-03-14 23:26:08 -04:00)

In [257]:
parcels[parcel_cols].to_file('regrid.geojson', driver='GeoJSON')

time: 11.4 s (started: 2022-03-14 23:26:10 -04:00)

In [841]:
attom_parcels.to_csv('AS-sample-filtered.csv', index=False)

time: 224 ms (started: 2022-03-21 15:03:33 -04:00)

In [249]:
!ls -lhS

total 79M
-rw-r--r-- 1 nhat nhat  42M Mar 14 23:17  regrid.geojson
-rw-r--r-- 1 nhat nhat  32M Mar 14 17:58  AS-sample.csv
-rw-r--r-- 1 nhat nhat 4.7M Mar 14 23:18  attom.csv
-rw-r--r-- 1 nhat nhat 427K Mar 14 16:06  POI_sample.csv
-rw-r--r-- 1 nhat nhat 249K Mar  7 19:41  AS-coverage.csv
-rw-r--r-- 1 nhat nhat  87K Mar 14 23:17  main-attom.ipynb
-rw-r--r-- 1 nhat nhat  55K Mar 14 15:46  AS-enums.csv
-rw-r--r-- 1 nhat nhat  49K Mar 14 15:52 'AS-schema?.csv'
-rw-r--r-- 1 nhat nhat  40K Mar  7 19:38  neighborhood-comm-layout.csv
-rw-r--r-- 1 nhat nhat  35K Mar  7 19:37  AS-schema.csv
-rw-r--r-- 1 nhat nhat  28K Mar  7 19:01  POI-coverage-state-cat.csv
-rw-r--r-- 1 nhat nhat  26K Mar 14 15:44  AS-technical.csv
-rw-r--r-- 1 nhat nhat  13K Mar 14 20:20  AS-PropertyUseStandardizedDescription.csv
drwxr-xr-x 2 nhat nhat 4.0K Mar 14 16:13  data
drwxr-xr-x 2 nhat nhat 4.0K Mar 14 15:46  enums
drwxr-xr-x 3 nhat nhat 4.0K Mar 14 16:17  extras
-rw-r--r-- 1 nhat nhat 4.0K Mar  7 19:11  POI-businessSubCat-enums.csv
-rw-r--r-- 1 nhat nhat 2.2K Mar  7 19:11  POI-schema.csv
-rw-r--r-- 1 nhat nhat 1.9K Mar  7 19:01  POI-coverage-state-summary.csv
time: 138 ms (started: 2022-03-14 23:18:45 -04:00)

In [223]:
parcels.recrdareano.isnull().sum()

27010

time: 2.69 ms (started: 2022-03-14 23:09:03 -04:00)

In [227]:
parcels[[ 'saledate',
 'saleprice',]].sample(10)

        saledate saleprice
6473  2011-06-16      None
7877        None      None
1141        None      None
5066        None      None
9622  2008-08-01      None
1529        None      None
4892        None      None
4391  2001-01-22      None
7273        None      None
1260  2009-04-21      None

time: 6.45 ms (started: 2022-03-14 23:10:33 -04:00)

In [258]:
parcels.shape, attom_parcels.shape

((27010, 135), (32312, 26))

time: 1.9 ms (started: 2022-03-14 23:48:47 -04:00)

In [219]:
# original_address: Address fields as originally provided by the county, separated by a semicolon and a space
# address_pct; original_address_pct
# 85; 88
parcels[['address', 'original_address']]

     saledate saleprice
0        None      None
1        None      None
2        None      None
3        None      None
4        None      None
...       ...       ...
2027     None      None
2028     None      None
2029     None      None
2030     None      None
2031     None      None

[27010 rows x 2 columns]

time: 6.6 ms (started: 2022-03-14 23:13:11 -04:00)

In [ ]:
# REGRID: important!
# numstories_pct	numunits_pct
# 11	15

In [217]:
parcels.numunits

0       None
1       None
2       None
3       None
4       None
        ...
2027    None
2028    None
2029    None
2030    None
2031    None
Name: numunits, Length: 27010, dtype: object

time: 2.73 ms (started: 2022-03-14 23:02:23 -04:00)

In [216]:
parcels.numunits.isnull().sum()

27010

time: 2.41 ms (started: 2022-03-14 23:02:22 -04:00)

## Tax Assessor File: coverage

In [541]:
AScover = pd.read_csv('AS/AS-coverage-attributes.csv', header=2)
AScover.shape

(3143, 317)

time: 117 ms (started: 2022-03-16 22:35:34 -04:00)

In [689]:
addons_cols = [
# 'AccessabilityElevatorFlag',
# 'AccessabilityHandicapFlag',
 'BedroomsCount',
 # 'CentralVacuumFlag',
 # 'ContentIntercomFlag',
 # 'ContentSoundSystemFlag',
 # 'EscalatorFlag',
 'Fireplace',
 'FireplaceCount',
 # 'RoomsBonusRoomFlag',
 # 'RoomsBreakfastNookFlag',
 # 'RoomsCellarFlag',
 # 'RoomsCellarWineFlag',
 'RoomsCount',
 # 'RoomsExerciseFlag',
 'RoomsFamilyCode',
 'RoomsGameFlag',
 # 'RoomsGreatFlag',
 # 'RoomsHobbyFlag',
 # 'RoomsLaundryFlag',
 # 'RoomsMediaFlag',
 # 'RoomsMudFlag',
 # 'RoomsOfficeArea',
 # 'RoomsOfficeFlag',
 # 'RoomsSafeRoomFlag',
 # 'RoomsSittingFlag',
 # 'RoomsStormShelter',
 # 'RoomsStudyFlag',
 # 'RoomsSunroomFlag',
 # 'RoomsUtilityArea',
 # 'RoomsUtilityCode',
 # 'SecurityAlarmFlag',
 'StoriesCount',
 'UnitsCount',
 # 'WetBarFlag',
 ]


cols5 = ['CensusTract',
'CensusBlock',
'PropertyAddressFull',
'PropertyLatitude',
'PropertyLongitude',
'GeoQuality',
'LegalDescription',
'PartyOwner1NameFull',
'OwnerTypeDescription1',
'ContactOwnerMailAddressFull',
'ContactOwnerMailAddressInfoFormat',
'StatusOwnerOccupiedFlag',
'DeedOwner1NameFull',
'PoleStructureArea',
'PoleStructureFlag',]

sub_cols = {
    'PublicationDate',
    'RoofMaterial',
'PoleStructureArea',
'PoleStructureFlag',
'CensusTract',
'BuildingsCount',
         'CensusBlockGroup',
}

AS_ALL_COLS =   set(cols5 + cols2 + cols3 + cols4 + addons_cols) - sub_cols

time: 795 Âµs (started: 2022-03-17 13:55:58 -04:00)

In [696]:
AS_ALL_COLS

{'AreaBuilding',
 'AreaBuildingDefinitionCode',
 'AreaLotSF',
 'AssessorLastSaleAmount',
 'AssessorLastSaleDate',
 'AssessorPriorSaleAmount',
 'AssessorPriorSaleDate',
 'BedroomsCount',
 'CensusBlock',
 'ContactOwnerMailAddressFull',
 'ContactOwnerMailAddressInfoFormat',
 'DeedOwner1NameFull',
 'Fireplace',
 'FireplaceCount',
 'GeoQuality',
 'LegalDescription',
 'OwnerTypeDescription1',
 'ParkingGarage',
 'ParkingGarageArea',
 'ParkingSpaceCount',
 'PartyOwner1NameFull',
 'PreviousAssessedValue',
 'PropertyAddressFull',
 'PropertyLatitude',
 'PropertyLongitude',
 'PropertyUseGroup',
 'PropertyUseStandardized',
 'RoofConstruction',
 'RoomsCount',
 'RoomsFamilyCode',
 'RoomsGameFlag',
 'StatusOwnerOccupiedFlag',
 'StoriesCount',
 'TaxAssessedValueImprovements',
 'TaxAssessedValueTotal',
 'TaxMarketValueImprovements',
 'TaxMarketValueTotal',
 'TaxMarketValueYear',
 'TaxYearAssessed',
 'UnitsCount',
 'YearBuilt'}

time: 2.03 ms (started: 2022-03-17 13:59:45 -04:00)

### Per state

In [691]:
SF52 = { '01': 'AL', '02': 'AK', '04': 'AZ', '05': 'AR', 
                      '06': 'CA', '08': 'CO', '09': 'CT', '10': 'DE', 
                      '11': 'DC', '12': 'FL', '13': 'GA', '15': 'HI', 
                      '16': 'ID', '17': 'IL', '18': 'IN', '19': 'IA', 
                      '20': 'KS', '21': 'KY', '22': 'LA', '23': 'ME', 
                      '24': 'MD', '25': 'MA', '26': 'MI', '27': 'MN', 
                      '28': 'MS', '29': 'MO', '30': 'MT', '31': 'NE', 
                      '32': 'NV', '33': 'NH', '34': 'NJ', '35': 'NM', 
                      '36': 'NY', '37': 'NC', '38': 'ND', '39': 'OH', 
                      '40': 'OK', '41': 'OR', '42': 'PA', '44': 'RI', 
                      '45': 'SC', '46': 'SD', '47': 'TN', '48': 'TX', 
                      '49': 'UT', '50': 'VT', '51': 'VA', '53': 'WA', 
                      '54': 'WV', '55': 'WI', '56': 'WY', '72': 'PR'}
SF52R = {value : key for (key, value) in SF52.items()}
AScover['state'] = AScover['State-County'].str[:2]


# 'Pe' is the NATIONWIDE col; NOTE: ATTOM ASSESSOR FILE : no Puerto Rico parcels
set(AScover['state']) - set(SF52R), set(SF52R) - set(AScover['state'])

({'Pe'}, {'PR'})

time: 5.7 ms (started: 2022-03-17 13:56:18 -04:00)

In [708]:
set(AScover.select_dtypes('object'))

{'State-County', 'state'}

time: 2.68 ms (started: 2022-03-17 14:07:17 -04:00)

In [716]:
# all attributes, populated (5+% coverage) attributes, and useful attributes
len(set(AScover)), len(AS_populated_cols), len(AS_ALL_COLS)

(318, 169, 41)

time: 1.89 ms (started: 2022-03-17 14:28:42 -04:00)

In [712]:
AS_populated_cols = [
    'ATTOMID',
 # 'AccessabilityElevatorFlag',
 # 'AccessabilityHandicapFlag',
 # 'ArborPergolaFlag',
 'Area1stFloor',
 # 'Area2ndFloor',
 'AreaBuilding',
 'AreaBuildingDefinitionCode',
 'AreaGross',
 'AreaLotAcres',
 'AreaLotDepth',
 'AreaLotSF',
 'AreaLotWidth',
 # 'AreaUpperFloors',
 # 'ArenaFlag',
 'AssessorLastSaleAmount',
 'AssessorLastSaleDate',
 'AssessorPriorSaleAmount',
 'AssessorPriorSaleDate',
 # 'BalconyArea',
 'BathCount',
 # 'BathHouseArea',
 # 'BathHouseFlag',
 # 'BathPartialCount',
 # 'BedroomsCount',
 # 'BoatAccessFlag',
 # 'BoatHouseArea',
 # 'BoatHouseFlag',
 # 'BoatLiftFlag',
 # 'BreezewayFlag',
 'BuildingsCount',
 'CBSACode',
 'CBSAName',
 # 'CabinArea',
 # 'CabinFlag',
 # 'CanopyArea',
 # 'CanopyFlag',
 'CensusBlock',
 # 'CensusBlockGroup',
 # 'CensusFIPSPlaceCode',
 # 'CensusTract',
 # 'CentralVacuumFlag',
 # 'CombinedStatisticalArea',
 # 'CommunityRecRoomFlag',
 'CompanyFlag',
 'CongressionalDistrictHouse',
 'Construction',
 # 'ConstructionFireResistanceClass',
 'ContactOwnerMailAddressCRRT',
 'ContactOwnerMailAddressCity',
 'ContactOwnerMailAddressFull',
 'ContactOwnerMailAddressHouseNumber',
 'ContactOwnerMailAddressInfoFormat',
 'ContactOwnerMailAddressState',
 # 'ContactOwnerMailAddressStreetDirection',
 'ContactOwnerMailAddressStreetName',
 # 'ContactOwnerMailAddressStreetPostDirection',
 'ContactOwnerMailAddressStreetSuffix',
 # 'ContactOwnerMailAddressUnit',
 # 'ContactOwnerMailAddressUnitPrefix',
 'ContactOwnerMailAddressZIP',
 'ContactOwnerMailAddressZIP4',
 # 'ContactOwnerMailInfoPrivacy',
 'ContactOwnerMailingCounty',
 'ContactOwnerMailingFIPS',
 # 'ContentIntercomFlag',
 # 'ContentOverheadDoorFlag',
 # 'ContentSaunaFlag',
 # 'ContentSoundSystemFlag',
 # 'ContentStormShutterFlag',
 # 'CourtyardArea',
 # 'CourtyardFlag',
 # 'DeckArea',
 # 'DeckFlag',
 'DeedLastDocumentNumber',
 'DeedLastSaleDate',
 'DeedLastSaleDocumentBook',
 'DeedLastSaleDocumentPage',
 'DeedLastSalePrice',
 'DeedLastSaleTransactionID',
 'DeedOwner1NameFirst',
 'DeedOwner1NameFull',
 'DeedOwner1NameLast',
 'DeedOwner1NameMiddle',
 'DeedOwner1NameSuffix',
 'DeedOwner2NameFirst',
 'DeedOwner2NameFull',
 'DeedOwner2NameLast',
 'DeedOwner2NameMiddle',
 'DeedOwner2NameSuffix',
 # 'DeedOwner3NameFirst',
 # 'DeedOwner3NameFull',
 # 'DeedOwner3NameLast',
 # 'DeedOwner3NameMiddle',
 # 'DeedOwner3NameSuffix',
 # 'DeedOwner4NameFirst',
 # 'DeedOwner4NameFull',
 # 'DeedOwner4NameLast',
 # 'DeedOwner4NameMiddle',
 # 'DeedOwner4NameSuffix',
 # 'DrivewayArea',
 # 'DrivewayMaterial',
 # 'EscalatorFlag',
 # 'Exterior1Code',
 # 'FeatureBalconyFlag',
 # 'FenceArea',
 # 'FenceCode',
 'Fireplace',
 'FireplaceCount',
 # 'FlooringMaterialPrimary',
 'Foundation',
 # 'GazeboArea',
 # 'GazeboFlag',
 'GeoQuality',
 # 'GolfCourseGreenFlag',
 # 'GraineryArea',
 # 'GraineryFlag',
 # 'GreenHouseArea',
 # 'GreenHouseFlag',
 # 'GuestHouseArea',
 # 'GuestHouseFlag',
 'HVACCoolingDetail',
 'HVACHeatingDetail',
 'HVACHeatingFuel',
 'InteriorStructure',
 # 'KennelArea',
 # 'KennelFlag',
 'LastAssessorTaxRollUpdate',
 'LastOwnershipTransferDate',
 'LastOwnershipTransferDocumentNumber',
 'LastOwnershipTransferTransactionID',
 # 'LeanToArea',
 # 'LeanToFlag',
 'LegalBlock1',
 # 'LegalBlock2',
 'LegalDescription',
 'LegalLotNumber1',
 'LegalLotNumber2',
 # 'LegalLotNumber3',
 # 'LegalPhase',
 'LegalQuarter',
 'LegalQuarterQuarter',
 'LegalRange',
 'LegalSection',
 'LegalSubdivision',
 'LegalTownship',
 'LegalTractNumber',
 'LegalUnit',
 # 'LoadingPlatformArea',
 # 'LoadingPlatformFlag',
 'MSACode',
 'MSAName',
 'MetropolitanDivision',
 # 'MilkHouseArea',
 # 'MilkHouseFlag',
 # 'MinorCivilDivisionCode',
 # 'MinorCivilDivisionName',
 'NeighborhoodCode',
 # 'OutdoorKitchenFireplaceFlag',
 'OwnerTypeDescription1',
 'OwnerTypeDescription2',
 'OwnershipVestingRelationCode', # 100%
 'ParcelAccountNumber',
 # 'ParcelMapBook',
 # 'ParcelMapPage',
 'ParcelNumberAlternate',
 # 'ParcelNumberFormatted',
 'ParcelNumberPrevious',
 'ParcelNumberRaw', # 100%
 'ParcelNumberYearAdded',
 'ParcelNumberYearChange',
 # 'ParcelShellRecord',
 'ParkingCarport',
 # 'ParkingCarportArea',
 'ParkingGarage',
 'ParkingGarageArea',
 # 'ParkingRVParkingFlag',
 'ParkingSpaceCount',
 'PartyOwner1NameFirst',
 'PartyOwner1NameFull',
 'PartyOwner1NameLast',
 'PartyOwner1NameMiddle',
 'PartyOwner1NameSuffix',
 'PartyOwner2NameFirst',
 'PartyOwner2NameFull',
 'PartyOwner2NameLast',
 'PartyOwner2NameMiddle',
 'PartyOwner2NameSuffix',
 'PartyOwner3NameFirst',
 'PartyOwner3NameFull',
 'PartyOwner3NameLast',
 'PartyOwner3NameMiddle',
 'PartyOwner3NameSuffix',
 # 'PartyOwner4NameFirst',
 # 'PartyOwner4NameFull',
 # 'PartyOwner4NameLast',
 # 'PartyOwner4NameMiddle',
 # 'PartyOwner4NameSuffix',
 'PatioArea',
 'PlumbingFixturesCount',
 # 'PoleStructureArea',
 # 'PoleStructureFlag',
 # 'PondFlag',
 # 'Pool',
 # 'PoolArea',
 # 'PoolHouseArea',
 # 'PoolHouseFlag',
 'PorchArea',
 'PorchCode',
 # 'PoultryHouseArea',
 # 'PoultryHouseFlag',
 'PreviousAssessedValue',
 'PropertyAddressCRRT',
 'PropertyAddressCity',
 'PropertyAddressFull',
 'PropertyAddressHouseNumber',
 # 'PropertyAddressInfoPrivacy',
 'PropertyAddressState',
 'PropertyAddressStreetDirection',
 'PropertyAddressStreetName',
 'PropertyAddressStreetPostDirection',
 'PropertyAddressStreetSuffix',
 'PropertyAddressUnitPrefix',
 'PropertyAddressUnitValue',
 'PropertyAddressZIP',
 'PropertyAddressZIP4',
 'PropertyJurisdictionName',
 'PropertyLatitude',
 'PropertyLongitude',
 'PropertyUseGroup',
 'PropertyUseMuni',
 'PropertyUseStandardized',
 # 'QuonsetArea',
 # 'QuonsetFlag',
 'RoofConstruction',
 # 'RoofMaterial',
 # 'RoomsAtticArea',
 # 'RoomsAtticFlag',
 'RoomsBasementArea',
 # 'RoomsBasementAreaFinished',
 # 'RoomsBasementAreaUnfinished',
 # 'RoomsBonusRoomFlag',
 # 'RoomsBreakfastNookFlag',
 # 'RoomsCellarFlag',
 # 'RoomsCellarWineFlag',
 'RoomsCount',
 # 'RoomsExerciseFlag',
 # 'RoomsFamilyCode',
 # 'RoomsGameFlag',
 # 'RoomsGreatFlag',
 # 'RoomsHobbyFlag',
 # 'RoomsLaundryFlag',
 # 'RoomsMediaFlag',
 # 'RoomsMudFlag',
 # 'RoomsOfficeArea',
 # 'RoomsOfficeFlag',
 # 'RoomsSafeRoomFlag',
 # 'RoomsSittingFlag',
 # 'RoomsStormShelter',
 # 'RoomsStudyFlag',
 # 'RoomsSunroomFlag',
 # 'RoomsUtilityArea',
 # 'RoomsUtilityCode',
 # 'SafetyFireSprinklersFlag',
 # 'SecurityAlarmFlag',
 # 'ShedArea',
 # 'ShedCode',
 # 'SiloArea',
 # 'SiloFlag',
 'SitusCounty',
 # 'SitusStateCountyFIPS',
 # 'SportsCourtFlag',
 # 'SprinklersFlag',
 # 'StableArea',
 # 'StableFlag',
 'StatusOwnerOccupiedFlag',
 # 'StorageBuildingArea',
 # 'StorageBuildingFlag',
 'StoriesCount',
 'StructureStyle',
 'TaxAssessedImprovementsPerc',
 'TaxAssessedValueImprovements',
 'TaxAssessedValueLand',
 'TaxAssessedValueTotal',
 'TaxBilledAmount',
 'TaxDelinquentYear',
 'TaxExemptionAdditional',
 'TaxExemptionDisabledFlag',
 'TaxExemptionHomeownerFlag',
 'TaxExemptionSeniorFlag',
 'TaxExemptionVeteranFlag',
 'TaxExemptionWidowFlag',
 'TaxFiscalYear',
 'TaxMarketImprovementsPerc',
 'TaxMarketValueImprovements',
 'TaxMarketValueLand',
 'TaxMarketValueTotal',
 'TaxMarketValueYear',
 'TaxRateArea',
 'TaxYearAssessed',
 'TennisCourtFlag',
 'TopographyCode',
 'TotalRecords',
 'TrustDescription',
 'UnitsCount',
 # 'UtilitiesMobileHomeHookupFlag',
 'UtilitiesSewageUsage',
 'UtilitiesWaterSource',
 'UtilityBuildingArea',
 'UtilityBuildingFlag',
 'ViewDescription',
 # 'WaterFeatureFlag',
 # 'WetBarFlag',
 'YearBuilt',
 'YearBuiltEffective',
 'ZonedCodeLocal',
                     ]

time: 2.09 ms (started: 2022-03-17 14:25:09 -04:00)

In [713]:
df1 = AScover.groupby('state').agg(stateTotalRecords = ('TotalRecords', 'sum')).reset_index()

# for col in sorted(set(AScover) - set(['state', 'State-County', 'SitusStateCountyFIPS'])):
for col in sorted(set(AS_populated_cols) - set(['state', 'State-County', 'SitusStateCountyFIPS'])):
# for col in sorted(AS_ALL_COLS):
# for col in sorted(addons_cols):
    df2 = AScover.groupby('state').apply(
     lambda x: pd.Series({
             col : round(np.average(x[col], weights = x.TotalRecords) * 100, 0).astype(int),
     })).reset_index()

    df1 = df1.merge(df2, on = 'state')

    
df1 = df1.sort_values('state')
n = 39
df1.at[n, 'state'] = 'NATIONWIDE'
df1.at[n, 'stateTotalRecords'] = df1.stateTotalRecords.sum() - 1
# move NATIONWIDE row to top
df1 = pd.concat([df1.iloc[[n],:], df1.drop(n, axis=0)], axis=0)

df1.to_csv('AS/coverage-state-pop-attributes.csv', index=None)

df1.head(2)

,state,stateTotalRecords,ATTOMID,Area1stFloor,AreaBuilding,AreaBuildingDefinitionCode,AreaGross,AreaLotAcres,AreaLotDepth,AreaLotSF,...,TrustDescription,UnitsCount,UtilitiesSewageUsage,UtilitiesWaterSource,UtilityBuildingArea,UtilityBuildingFlag,ViewDescription,YearBuilt,YearBuiltEffective,ZonedCodeLocal
39,NATIONWIDE,160256585,100,13,68,65,51,84,25,88,...,33,53,20,21,2,2,83,67,30,41
0,AK,510980,100,25,44,43,34,65,0,65,...,20,25,30,30,0,0,52,44,27,42

time: 4.21 s (started: 2022-03-17 14:25:10 -04:00)

# Home Valuation

In [198]:
# NOTE: REGRID /parcels also contain TAX ASSESSOR data
# parvaltype: Appraised, Assessed, Taxable, Market, Market Value	Parcel Value Type - Describes the type or the method the Assessor used to determine and record the values in the parcel value attributes below
# Improvement Value - in US Dollars (from Assessor's data)
# Land Value - in US Dollars (from Assessor's data)
# Total Parcel Value - in US Dollars (from Assessor's data)
# Last Sale Price - in US Dollars (from Assessor's data)
# Last Sale Date (from Assessor's data)
# BUT HAS NO PERCENTAGE
# parvaltype_pct	improvval_pct	landval_pct	parval_pct; saleprice_pct	saledate_pct
# 66	68	71	78; 33	34

parcels[['parvaltype',
'improvval',
'landval',
'parval',
'saleprice',
'saledate',]].isnull().sum()

parvaltype    27010
improvval     27010
landval       27010
parval        27010
saleprice     27010
saledate      15987
dtype: int64

time: 11.5 ms (started: 2022-03-14 22:54:55 -04:00)

In [ ]:
TaxAssessedValueTotal = TaxAssessedValueImprovements + TaxAssessedValueLand
- TaxAssessedValueTotal == 0 IFF [?] why a parcel has no value?
- TaxAssessedValueImprovements == 0 IFF no structure, only land!

# Perhaps we care more about:
TaxMarketValueTotal = TaxMarketValueImprovements + TaxMarketValueLand
- TaxMarketValueTotal == 0 IFF [?] why a parcel has no value?
- TaxMarketValueImprovements == 0 IFF no structure, only land!

# No home valuations YoY!
ONLY HAVE TaxYearAssessed, TaxMarketValueYear, and PreviousAssessedValue (no PreviousAssessedYear) 
perhaps could use:
    - AssessorLastSaleDate & AssessorLastSaleAmount for value changes; BUT: AssessorLastSaleDate is mostly NULL!

In [573]:
cols2 = [
    
'PreviousAssessedValue',
    
'TaxAssessedValueImprovements',
'TaxAssessedValueTotal',
'TaxYearAssessed',

'AssessorPriorSaleAmount',
'AssessorPriorSaleDate',
'AssessorLastSaleAmount',
'AssessorLastSaleDate',
    
'TaxMarketValueImprovements',
'TaxMarketValueTotal',
'TaxMarketValueYear',

]
tax[cols2].sample(3)

,PreviousAssessedValue,TaxAssessedValueImprovements,TaxAssessedValueTotal,TaxYearAssessed,AssessorPriorSaleAmount,AssessorPriorSaleDate,AssessorLastSaleAmount,AssessorLastSaleDate,TaxMarketValueImprovements,TaxMarketValueTotal,TaxMarketValueYear
24586,3810.0,3570,3810,2021,0,NaN,0,NaN,18800,20050,2021.0
4496,20000.0,16230,20000,2021,0,NaN,0,NaN,85400,105240,2021.0
31428,5690.0,2840,5690,2021,0,NaN,0,NaN,14970,29970,2021.0

time: 9.6 ms (started: 2022-03-16 22:48:19 -04:00)

In [134]:
tax[cols2].isnull().sum()

TaxYearAssessed                     0
TaxAssessedValueTotal               0
TaxAssessedValueImprovements        0
PreviousAssessedValue             695
TaxMarketValueYear               1885
TaxMarketValueTotal                 0
TaxMarketValueImprovements          0
AssessorLastSaleDate            17698
AssessorLastSaleAmount              0
AssessorPriorSaleDate           22309
AssessorPriorSaleAmount             0
dtype: int64

In [275]:
cols2

['TaxYearAssessed',
 'TaxAssessedValueTotal',
 'TaxAssessedValueImprovements',
 'PreviousAssessedValue',
 'TaxMarketValueYear',
 'TaxMarketValueTotal',
 'TaxMarketValueImprovements',
 'AssessorLastSaleDate',
 'AssessorLastSaleAmount',
 'AssessorPriorSaleDate',
 'AssessorPriorSaleAmount']

time: 1.77 ms (started: 2022-03-15 00:07:58 -04:00)

In [277]:
tax.shape

(32312, 81)

time: 1.72 ms (started: 2022-03-15 00:08:20 -04:00)

In [282]:
tax[[
    'AssessorLastSaleAmount',
 'AssessorLastSaleDate',
 'AssessorPriorSaleAmount',
 'AssessorPriorSaleDate',
 'PreviousAssessedValue',
 'TaxAssessedValueImprovements',
 'TaxAssessedValueTotal',
 'TaxMarketValueImprovements',
 'TaxMarketValueTotal',
 # 'TaxMarketValueYear',
 # 'TaxYearAssessed'
    ]].sample(5)

,AssessorLastSaleAmount,AssessorLastSaleDate,AssessorPriorSaleAmount,AssessorPriorSaleDate,PreviousAssessedValue,TaxAssessedValueImprovements,TaxAssessedValueTotal,TaxMarketValueImprovements,TaxMarketValueTotal
29641,0,NaN,0,NaN,15460.0,13580,15460,71460,81380
28910,0,NaN,0,NaN,5590.0,4650,5590,24460,29420
28174,0,NaN,0,NaN,13170.0,7570,13170,39840,69320
15915,0,2007/11/01,0,2000/01/01,4465.0,3741,4911,19690,25850
1346,0,2016/07/29,0,2000/06/01,1476.0,0,1476,0,12300

time: 8.87 ms (started: 2022-03-15 00:10:24 -04:00)

In [266]:
cols4

['RoomsCount',
 'StoriesCount',
 'UnitsCount',
 'RoofMaterial',
 'RoofConstruction',
 'ParkingSpaceCount',
 'BuildingsCount',
 'PublicationDate']

time: 1.75 ms (started: 2022-03-15 00:03:16 -04:00)


# AVM

In [377]:
set(pd.read_csv('AVM-sample.csv').rename(columns={'[ATTOM ID]' : 'attomid'}))

{'ConfidenceScore',
 'CreateDate',
 'EstimatedMaxValue',
 'EstimatedMinValue',
 'EstimatedValue',
 'FSD',
 'LastUpdateDate',
 'PublicationDate',
 'ValuationDate',
 'attomid'}

time: 11 ms (started: 2022-03-16 12:30:33 -04:00)

In [443]:
tax_df = pd.read_csv('AS-sample.csv')[ALL_TAX_COLS]
tax_df = tax_df.rename(columns={'[ATTOM ID]' : 'attomid'})
tax_df = tax_df[cols2 + ['attomid']]


assessor_value_cols = [
 'attomid',
    
     'AssessorPriorSaleAmount',
 'AssessorPriorSaleDate',
    'AssessorLastSaleAmount',
 'AssessorLastSaleDate',

 'PreviousAssessedValue',
    
 'TaxAssessedValueTotal',
 'TaxYearAssessed',
    
 'TaxMarketValueTotal',
 'TaxMarketValueYear',
]


tax_df = tax_df[assessor_value_cols]

tax_df.set_index('attomid', inplace=True)
tax_df.sample(3)

/home/nhat/anaconda3/envs/py39/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,28,33,34,53,59,71,78,79,80,81,82,83,88,112,113,114,115,116,118,119,120,121,154,257) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,AssessorPriorSaleAmount,AssessorPriorSaleDate,AssessorLastSaleAmount,AssessorLastSaleDate,PreviousAssessedValue,TaxAssessedValueTotal,TaxYearAssessed,TaxMarketValueTotal,TaxMarketValueYear
attomid,,,,,,,,,
299933643,0,NaN,0,NaN,8440.0,8440,2021,44420,2021.0
299498085,0,2013/08/05,0,2016/06/16,1020.0,1020,2021,8500,2021.0
299494994,0,2002/04/01,0,2013/12/04,5396.0,5396,2021,44970,2021.0

time: 737 ms (started: 2022-03-16 13:22:55 -04:00)

In [493]:
pd.read_csv('AVM-sample.csv').rename(columns={'[ATTOM ID]' : 'attomid'}).set_index('attomid').isnull().sum()

EstimatedValue       0
EstimatedMinValue    0
EstimatedMaxValue    0
CreateDate           0
ValuationDate        0
ConfidenceScore      0
FSD                  0
LastUpdateDate       0
PublicationDate      0
dtype: int64

time: 12.4 ms (started: 2022-03-16 13:55:32 -04:00)

In [451]:
avm = pd.read_csv('AVM-sample.csv').rename(columns={'[ATTOM ID]' : 'attomid'}).set_index('attomid')
avm = avm.join(tax_df, how='left')

avm.fillna(-99999, inplace=True)
avm['AssessorPriorSaleDate'] = pd.to_datetime(avm.AssessorPriorSaleDate).dt.date
avm['AssessorLastSaleDate'] = pd.to_datetime(avm.AssessorLastSaleDate).dt.date

homevalue_cols = [
 'AssessorPriorSaleAmount',
 'AssessorPriorSaleDate',
 'AssessorLastSaleAmount',
 'AssessorLastSaleDate',
    
 'PreviousAssessedValue',
 'TaxAssessedValueTotal',
 'TaxYearAssessed',
    
 'TaxMarketValueTotal',
 'TaxMarketValueYear',
    
 'EstimatedValue',
 'ValuationDate',
]

avm = avm[homevalue_cols]

for col in set(avm):
    if "Year" not in col and "Date" not in col:
        print('num' , col)
        avm[col] = (avm[col] /1000).round(0).astype(int)
    else:
        if "Year" in col:
            print('year', col)
            avm[col] = avm[col].round(0).astype(int)

avm

num TaxAssessedValueTotal
num EstimatedValue
num PreviousAssessedValue
num AssessorLastSaleAmount
year TaxMarketValueYear
num AssessorPriorSaleAmount
year TaxYearAssessed
num TaxMarketValueTotal

,AssessorPriorSaleAmount,AssessorPriorSaleDate,AssessorLastSaleAmount,AssessorLastSaleDate,PreviousAssessedValue,TaxAssessedValueTotal,TaxYearAssessed,TaxMarketValueTotal,TaxMarketValueYear,EstimatedValue,ValuationDate
attomid,,,,,,,,,,,
322445384,-100,1969-12-31,-100,1969-12-31,-100,-100,-99999,-100,-99999,38,2022/02/24
322445473,-100,1969-12-31,-100,1969-12-31,-100,-100,-99999,-100,-99999,207,2022/02/24
299937078,0,1969-12-31,0,1969-12-31,36,1,2019,10,2019,18,2022/02/24
322445481,-100,1969-12-31,-100,1969-12-31,-100,-100,-99999,-100,-99999,283,2022/02/24
322445381,-100,1969-12-31,-100,1969-12-31,-100,-100,-99999,-100,-99999,93,2022/02/24
...,...,...,...,...,...,...,...,...,...,...,...
299496330,0,2000-01-01,0,2000-12-01,4,4,2021,21,2021,30,2022/02/24
299496419,0,1991-11-01,120,2003-03-01,20,22,2021,118,2021,165,2022/02/24
299496470,0,2012-08-02,0,2016-06-30,19,21,2021,113,2021,158,2022/02/24
299496467,0,2000-01-01,0,2019-07-06,21,23,2021,120,2021,168,2022/02/24
299496503,0,1969-12-31,54,1994-12-01,15,17,2021,88,2021,123,2022/02/24

time: 41.1 ms (started: 2022-03-16 13:26:31 -04:00)

In [456]:
date_covid = pd.Timestamp(2020, 2, 1).date()
question = avm[(avm.AssessorLastSaleAmount > 0) & (avm.AssessorPriorSaleAmount > 0) & (avm.AssessorLastSaleDate < date_covid)]
print(question.shape)

(87, 11)
time: 2.79 ms (started: 2022-03-16 13:29:32 -04:00)

In [458]:
question.sort_values('AssessorLastSaleDate').to_csv('question-low-AssessedValue.csv')

time: 2.9 ms (started: 2022-03-16 13:30:45 -04:00)

In [406]:
avm_cols = [
    'attomid',
            'AssessorLastSaleAmount',
 'AssessorLastSaleDate',
 # 'AssessorPriorSaleAmount',
 # 'AssessorPriorSaleDate',

 # 'PreviousAssessedValue',
 # 'TaxAssessedValueImprovements',
 'TaxAssessedValueTotal',
 # 'TaxMarketValueImprovements',
 'TaxYearAssessed',
 'TaxMarketValueTotal',
 'TaxMarketValueYear',
 'EstimatedValue',
 # 'EstimatedMinValue',
 # 'EstimatedMaxValue',
 # 'ConfidenceScore',
 'ValuationDate',
 # 'LastUpdateDate',

]
# avm[avm_cols][(avm.AssessorLastSaleAmount > 0) & (avm.AssessorPriorSaleAmount > 0)].sample(15)

avm['AssessorLastSaleDate'] = pd.to_datetime(avm.AssessorLastSaleDate)
date_covid = pd.Timestamp(2020, 2, 1)
new_df = avm[(avm.AssessorLastSaleAmount > 0) & (avm.AssessorLastSaleDate < date_covid)]
print(new_df.shape)
new_df[avm_cols].sample(20).sort_values('AssessorLastSaleDate')

(652, 21)

,attomid,AssessorLastSaleAmount,AssessorLastSaleDate,TaxAssessedValueTotal,TaxYearAssessed,TaxMarketValueTotal,TaxMarketValueYear,EstimatedValue,ValuationDate
2208,299492,22,2003-07-01,4,2021,21,2021,29,2022/02/24
8044,299487,105,2004-10-01,18,2021,95,2021,173,2022/02/24
1947,299486,104,2005-05-01,13,2021,67,2021,119,2022/02/24
8073,299487,116,2006-07-01,23,2021,124,2021,198,2022/02/24
7491,299493,164,2008-05-01,26,2021,137,2021,250,2022/02/24
4286,299495,79,2011-11-01,19,2021,100,2021,165,2022/02/24
1040,299486,120,2012-05-01,22,2021,116,2021,207,2022/02/24
7551,299493,30,2013-07-08,7,2021,38,2021,74,2022/02/24
4026,299489,261,2014-06-30,50,2021,264,2021,460,2022/02/24
4485,299492,57,2015-04-30,15,2021,78,2021,153,2022/02/24
2173,299491,103,2015-06-30,22,2021,117,2021,163,2022/02/24
1919,299486,59,2016-05-31,9,2021,45,2021,80,2022/02/24
1704,299497,65,2016-11-30,14,2021,72,2021,101,2022/02/24
3603,299486,162,2017-04-30,31,2021,164,2021,271,2022/02/24
1637,299491,126,2017-05-31,24,2021,128,2021,179,2022/02/24
1123,299486,125,2018-08-01,18,2021,96,2021,176,2022/02/24
1499,299488,180,2018-09-02,21,2021,113,2021,198,2022/02/24
1674,299492,155,2019-11-21,25,2021,129,2021,181,2022/02/24
2078,299491,172,2019-12-05,28,2021,145,2021,203,2022/02/24
3781,299487,90,2019-12-31,9,2021,48,2021,115,2022/02/24

time: 14.5 ms (started: 2022-03-16 12:58:49 -04:00)

In [464]:
avm.shape, avm[(avm.TaxMarketValueTotal <= avm.EstimatedValue)].shape

((8509, 11), (8490, 11))

time: 2.78 ms (started: 2022-03-16 13:41:27 -04:00)

# QUESTION about TaxAssessedValueTotal vs TaxMarketValueTotal

In [523]:
qdf = pd.read_csv('AS-sample.csv')[['[ATTOM ID]', 'TaxAssessedValueTotal', 'TaxMarketValueTotal',]]
qdf = qdf.set_index('[ATTOM ID]')                                   
print(qdf.shape, qdf[(qdf.TaxAssessedValueTotal != 0) & (qdf.TaxMarketValueTotal != 0)].shape)

qdf = qdf[(qdf.TaxAssessedValueTotal != 0) & (qdf.TaxMarketValueTotal != 0)]

def percentage_change(col1,col2):
    return 100-(round((abs(col1 - col2) / col2) * 100, 0))

qdf['diffCol'] = percentage_change(qdf['TaxAssessedValueTotal'], qdf['TaxMarketValueTotal'])

(32312, 2) (30415, 2)
time: 587 ms (started: 2022-03-16 14:07:10 -04:00)

/home/nhat/anaconda3/envs/py39/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,28,33,34,53,59,71,78,79,80,81,82,83,88,112,113,114,115,116,118,119,120,121,154,257) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [524]:
qdf.diffCol.describe()

count    30415.000000
mean        17.349663
std          4.714721
min          2.000000
25%         12.000000
50%         19.000000
75%         19.000000
max         84.000000
Name: diffCol, dtype: float64

time: 5.72 ms (started: 2022-03-16 14:07:12 -04:00)

In [526]:
qdf.to_csv('question-low-assessed-vs-market.csv')

time: 46.2 ms (started: 2022-03-16 14:08:15 -04:00)

In [490]:
avm1 = avm[['TaxAssessedValueTotal', 'TaxMarketValueTotal',]]
avm1 = avm1[avm1.TaxAssessedValueTotal != -100]


def percentage_change(col1,col2):
    return 100-(round((abs(col1 - col2) / col2) * 100, 0))

avm1['diffCol'] = percentage_change(avm1['TaxAssessedValueTotal'], avm1['TaxMarketValueTotal'])    
avm1

           TaxAssessedValueTotal  TaxMarketValueTotal  diffCol
attomid
299937078                      1                   10     10.0
299935862                     41                  214     19.0
299935869                     37                  193     19.0
299935874                     32                  170     19.0
311349031                      2                   11     18.0
...                          ...                  ...      ...
299496330                      4                   21     19.0
299496419                     22                  118     19.0
299496470                     21                  113     19.0
299496467                     23                  120     19.0
299496503                     17                   88     19.0

[8489 rows x 3 columns]

time: 9.24 ms (started: 2022-03-16 14:05:04 -04:00)

In [491]:
avm1.diffCol.describe()

count    8486.000000
mean       19.425171
std         2.458470
min         0.000000
25%        19.000000
50%        19.000000
75%        19.000000
max        36.000000
Name: diffCol, dtype: float64

time: 5.31 ms (started: 2022-03-16 13:53:44 -04:00)

In [469]:
avm[(avm.TaxMarketValueTotal < avm.TaxAssessedValueTotal)].shape

(0, 11)

time: 2.34 ms (started: 2022-03-16 13:44:58 -04:00)

In [460]:
avm.shape, avm[(avm.AssessorLastSaleAmount > avm.TaxAssessedValueTotal)].shape

((8509, 11), (681, 11))

time: 3.29 ms (started: 2022-03-16 13:40:05 -04:00)

In [388]:
avm.shape,

((8509, 21), (681, 9))

time: 3.62 ms (started: 2022-03-16 12:35:01 -04:00)

In [386]:
avm[avm_cols][(avm.AssessorLastSaleAmount > 0) & (avm.AssessorLastSaleAmount < avm.TaxAssessedValueTotal)]

,AssessorLastSaleAmount,AssessorLastSaleDate,EstimatedValue,ValuationDate,TaxAssessedValueTotal,TaxYearAssessed,TaxMarketValueTotal,TaxMarketValueYear
1024,16,2003/03/01,484,2022/02/24,47,2021,245,2021
1045,2,2020/07/20,27,2022/02/24,3,2021,15,2021
1294,10,2018/05/30,286,2022/02/24,31,2021,165,2021
1412,25,2011/09/16,473,2022/02/24,51,2021,267,2021
1476,28,1999/07/01,489,2022/02/24,56,2021,296,2021
1551,16,1999/09/01,311,2022/02/24,42,2021,222,2021
1598,25,2002/04/01,289,2022/02/24,31,2021,165,2021
1713,9,2011/12/24,186,2022/02/24,25,2021,133,2021
1791,1,2001/07/01,19,2022/02/24,3,2021,14,2021
2066,6,2019/11/25,97,2022/02/24,16,2021,86,2021
2079,11,1995/09/01,326,2022/02/24,44,2021,233,2021
3408,1,2019/11/18,19,2022/02/24,2,2021,11,2021
3560,5,2019/12/23,191,2022/02/24,19,2021,102,2021
3868,16,1996/09/01,356,2022/02/24,36,2021,191,2021
3878,18,1998/07/01,341,2022/02/24,37,2021,195,2021
3935,10,2002/07/01,243,2022/02/24,26,2021,138,2021
4093,17,2019/11/21,269,2022/02/24,29,2021,151,2021
4175,15,2004/12/01,262,2022/02/24,30,2021,159,2021
4214,15,2001/12/01,235,2022/02/24,24,2021,126,2021
5191,1,2021/06/30,18,2022/02/24,2,2021,10,2021
5712,25,1999/09/01,467,2022/02/24,43,2021,227,2021
5880,22,2000/03/01,331,2022/02/24,38,2021,201,2021
5953,19,2001/10/01,245,2022/02/24,28,2021,149,2021
6742,1,2021/09/15,60,2022/02/24,6,2021,34,2021
7538,18,2019/01/01,368,2022/02/24,41,2021,213,2021
7739,45,2002/04/01,475,2022/02/24,46,2021,241,2021
7810,12,1992/10/01,424,2022/02/24,41,2021,215,2021
7850,5,1992/02/01,200,2022/02/24,27,2021,143,2021
7896,17,2002/03/01,402,2022/02/24,39,2021,204,2021
8003,7,2001/09/01,183,2022/02/24,25,2021,131,2021
8206,10,1999/12/01,200,2022/02/24,26,2021,137,2021
8356,10,2002/05/01,328,2022/02/24,38,2021,199,2021

time: 8.6 ms (started: 2022-03-16 12:33:05 -04:00)

# Community Demographics

In [536]:
comm = pd.read_csv('schema-comm.csv').iloc[:, :2]
comm.shape, comm.head()

((619, 2),
         NAME             LONG NAME
 0   geo_type        Geography Type
 1     geo_id          Geography ID
 2     geo_nm  Geography Name/Label
 3  longitude             Longitude
 4   latitude              Latitude)

time: 5.8 ms (started: 2022-03-16 22:13:14 -04:00)

# Foreclosure, entire state of Missouri

In [721]:
fc = pd.read_csv('foreclosure/sample.csv')
fc.shape

/home/nhat/anaconda3/envs/py39/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (9,41,46,65,69,70,85) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(26108, 103)

time: 203 ms (started: 2022-03-21 13:06:04 -04:00)

### State of Missouri sample: since 2016/12/30 to 2022/03/16: **26,108** foreclosure records in total
- with 18,832 unique properties (many properties have multiple foreclosure records)

In [835]:
fc.shape, fc.TransactionID.unique().shape, fc['[ATTOM ID]'].unique().shape # ((26108, 103), (26108,), (18832,))
fc.ForeclosureRecordingDate.sort_values()

3738     2016/12/30
23878    2017/01/14
344      2017/01/27
17929    2017/01/27
13028    2017/01/27
            ...
20095    2022/03/16
6516     2022/03/16
8912     2022/03/16
13389    2022/03/16
18358    2022/03/16
Name: ForeclosureRecordingDate, Length: 26108, dtype: object

time: 18 ms (started: 2022-03-21 14:59:22 -04:00)

## FIELDS

In [ ]:
### Fields not populated/ not useful: 
'PropertyAddressHouseNumber','PropertyAddressStreetDirection','PropertyAddressStreetName', 'PropertyAddressStreetSuffix',
'PropertyAddressStreetPostDirection','PropertyAddressUnitPrefix','PropertyAddressUnitValue','PropertyAddressCity','PropertyAddressState',
'PropertyAddressZIP','PropertyAddressZIP4','PropertyAddressCRRT','PropertyAddressInfoPrivacy',
'ZonedCodeLocal', 'LenderAddress','LenderAddressHouseNumber','LenderAddressStreetDirection', 'LenderAddressStreetName',
'LenderAddressStreetSuffix','LenderAddressStreetPostDirection','LenderAddressUnitValue','LenderAddressCity','LenderAddressState','LenderAddressZIP',
'LenderPhone', 'OriginalLoanLoanNumber','OriginalLoanInterestRate','LoanMaturityDate', 'ServicerName',
'ServicerCity','ServicerState','ServicerZip', 'ServicerPhone','TrusteeAddressHouseNumber','TrusteeAddressStreetDirection', 'TrusteeAddressStreetName',
'TrusteeAddressStreetSuffix','TrusteeAddressStreetPostDirection','TrusteeAddressUnitValue','TrusteeAddressCity','TrusteeAddressState',
'TrusteeAddressZIP', 'ForeclosureInstrumentDate','ForeclosureInstrumentNumber','ForeclosureBookPage', 'Payment',
'PenaltyInterest','LoanBalance','JudgmentDate','Courthouse',
# kinda arbitrary address, this attribute could not be useful in anyway!
'AuctionAddress', 
'AuctionHouseNumber','AuctionDirection', 'AuctionStreetName','AuctionSuffix','AuctionPostDirection', 'AuctionUnit','AuctionCity',

In [858]:
## POPULATED FIELDS
fc_cols = [
'TransactionID',
'[ATTOM ID]',
    
# # 100% populated 
# # enums: LIS	Lis Pendens
# # enums: NOD	Notice of Default
# # enums: NOS	Notice of Foreclosure Sale
# # enums: NTS	Notice of Trustee Sale 
# # enums: all = NTS i.e. from Foreclosure auction notices at County Recorderâs Office
'RecordType',
    
# 'SitusStateCode',
# 'SitusCounty',
# 'PropertyJurisdictionName',
'SitusStateCountyFIPS',
    
# # 100% populated: Primary Parcel Number and unique identifier within the county/jurisdiction
'ParcelNumberFormatted',
# # 99% populated    
'PropertyAddressFull',
# # 99% populated; 99% values are Rooftop, and some street level and county level!
'PropertyLatitude',
'PropertyLongitude',
'GeoQuality',

# 'PropertyUseMuni',
'PropertyUseGroup',
'PropertyUseStandardized',
    
# 'BathCount',
# 'BedroomsCount',
# 'AreaBuilding',
# 'AreaBuildingDefinitionCode',
# 'AreaLotSF',
# 'AreaLotAcres',
# 'YearBuilt',
# 'YearBuiltEffective',

# 'ServicerAddress',
# 'TrusteeName',
# 'TrusteeAddress',
# 'TrusteePhone',

# # 5.0 PRE-FORECLOSURE LAYOUT:  BorrowerNameOwner	Mortgagee, concatenated name(s) of borrower in default.    
'BorrowerNameOwner',     
# # 100% populated! 5.0 PRE-FORECLOSURE LAYOUT: Date on which the instrument was officially recorded at the county. Format YYYY-MM-DD.
'ForeclosureRecordingDate',
# 'CaseNumber',
# 'TrusteeReferenceNumber',

# # All rows have DefaultAmount = 0 
# # 99.9% JudgmentAmount are also 0
# 'DefaultAmount', 
# 'JudgmentAmount',
    
# 'AuctionDate',
# 'AuctionTime',
# 'RecordedAuctionOpeningBid',
    
# # Automated Valuation Model estimate of value at the time of foreclosure document recording    
# # rarely populated, could be useful, without needing to pull the data from AVM dataset    
'EstimatedValue', 

# # 5.0 PRE-FORECLOSURE LAYOUT
# # CreateDate Date the record was first created in YYYY-MM-DD format.
# # RecordLastUpdated The last update date for the record in YYYY-MM-DD format.
# 'CreateDate',
# 'RecordLastUpdated',
    
# # PublicationDate The date on which the client's data file was extracted and delivered ~ lastRefresh. Not to be associated with a county's publication,fiilng, or posted date.
'PublicationDate',    
]

fc[fc_cols].count()

TransactionID               26108
[ATTOM ID]                  26108
RecordType                  26108
SitusStateCountyFIPS        26108
ParcelNumberFormatted       26108
PropertyAddressFull         25972
PropertyLatitude            26086
PropertyLongitude           26086
GeoQuality                  26086
PropertyUseGroup            26108
PropertyUseStandardized     26095
BorrowerNameOwner           12903
ForeclosureRecordingDate    26108
EstimatedValue               3712
PublicationDate             26108
dtype: int64

time: 16 ms (started: 2022-03-21 16:03:27 -04:00)

In [834]:
# Same properties could have multiple Foreclosure Recording Date
# Each record has unique TransactionID, but the property ATTOM ID should stay constant.

# fc.ParcelNumberFormatted.value_counts()
topfc = ['1-7.0-26-40-1-2.001', '24U-6-1-084-1']
topfc_df = fc[fc.ParcelNumberFormatted.isin(topfc)][['[ATTOM ID]', 'TransactionID', 'RecordType', 'ParcelNumberFormatted', 'PropertyAddressFull', 'ForeclosureRecordingDate', ]]
topfc_df.sort_values(by=['ParcelNumberFormatted', 'ForeclosureRecordingDate'])

,[ATTOM ID],TransactionID,RecordType,ParcelNumberFormatted,PropertyAddressFull,ForeclosureRecordingDate
3767,213844189,107394677,NTS,1-7.0-26-40-1-2.001,2487 REDBUD RD,2020/02/05
3768,213844189,107544116,NTS,1-7.0-26-40-1-2.001,2487 REDBUD RD,2020/02/11
3769,213844189,107701198,NTS,1-7.0-26-40-1-2.001,2487 REDBUD RD,2020/02/19
3770,213844189,107753439,NTS,1-7.0-26-40-1-2.001,2487 REDBUD RD,2020/02/21
3764,213844189,107935829,NTS,1-7.0-26-40-1-2.001,2487 REDBUD RD,2020/02/27
3761,213844189,108174758,NTS,1-7.0-26-40-1-2.001,2487 REDBUD RD,2020/03/10
3758,213844189,108340306,NTS,1-7.0-26-40-1-2.001,2487 REDBUD RD,2020/03/17
3763,213844189,108513522,NTS,1-7.0-26-40-1-2.001,2487 REDBUD RD,2020/03/25
3766,213844189,109634368,NTS,1-7.0-26-40-1-2.001,2487 REDBUD RD,2020/05/29
3759,213844189,109533800,NTS,1-7.0-26-40-1-2.001,2487 REDBUD RD,2020/06/03
17755,213844189,109596206,NTS,1-7.0-26-40-1-2.001,2487 REDBUD RD,2020/06/09
3762,213844189,109677842,NTS,1-7.0-26-40-1-2.001,2487 REDBUD RD,2020/06/17
3760,213844189,109763106,NTS,1-7.0-26-40-1-2.001,2487 REDBUD RD,2020/06/24
3765,213844189,109963267,NTS,1-7.0-26-40-1-2.001,2487 REDBUD RD,2020/07/15
9058,4995521,79024972,NTS,24U-6-1-084-1,743 CASTLE TOWER DR,2017/03/29
9057,4995521,80327048,NTS,24U-6-1-084-1,743 CASTLE TOWER DR,2017/05/22
2108,4995521,81181471,NTS,24U-6-1-084-1,743 CASTLE TOWER DR,2017/06/20
2109,4995521,82913365,NTS,24U-6-1-084-1,743 CASTLE TOWER DR,2017/08/31
2110,4995521,83655769,NTS,24U-6-1-084-1,743 CASTLE TOWER DR,2017/09/27
2107,4995521,84816452,NTS,24U-6-1-084-1,743 CASTLE TOWER DR,2017/11/06
2106,4995521,85854676,NTS,24U-6-1-084-1,743 CASTLE TOWER DR,2017/12/11
2111,4995521,86891486,NTS,24U-6-1-084-1,743 CASTLE TOWER DR,2018/01/09
21952,4995521,87965628,NTS,24U-6-1-084-1,743 CASTLE TOWER DR,2018/02/14
9056,4995521,89305864,NTS,24U-6-1-084-1,743 CASTLE TOWER DR,2018/03/27
2105,4995521,90281580,NTS,24U-6-1-084-1,743 CASTLE TOWER DR,2018/04/22

time: 11.2 ms (started: 2022-03-21 14:59:10 -04:00)

In [853]:
# BorrowerNameOwner: Gatley: a "public menace"
gatley = ['CHRIS GATLEY', 'CHRISTOPHER E GATLEY MEMBER OF 417 RENTALS LLC',
        'CHRISTOPHER E GATLEY', 'CHRISTOPHER ERIC GATLEY']
gatley_rentals = fc[fc.BorrowerNameOwner.isin(gatley)][fc_cols]

#385	SINGLE FAMILY RESIDENCE
# 369	DUPLEX (2 UNITS, ANY COMBINATION)
gatley_rentals.PropertyUseStandardized.value_counts()

gatley_rentals.sort_values(by=['ForeclosureRecordingDate', 'ParcelNumberFormatted'])
# fc.shape, fc.BorrowerNameOwner.count(), fc.BorrowerNameOwner.value_counts().head(4).index

,TransactionID,[ATTOM ID],RecordType,SitusStateCountyFIPS,ParcelNumberFormatted,PropertyAddressFull,PropertyLatitude,PropertyLongitude,GeoQuality,PropertyUseGroup,PropertyUseStandardized,ForeclosureRecordingDate,PublicationDate
3519,89305616,20327181,NTS,29077,88-13-10-209-027,2211 W ATLANTIC ST,37.234016,-93.321577,0.0,Residential,385.0,2018/03/21,2022/03/17
3565,89305617,53302238,NTS,29077,88-13-11-115-012,631 W HIGH ST,37.237288,-93.296645,0.0,Residential,385.0,2018/03/21,2022/03/17
3494,89305838,31644129,NTS,29077,88-13-14-229-008,1427 W LYNN ST,37.224452,-93.309787,0.0,Residential,385.0,2018/03/21,2022/03/17
24248,89305841,31695231,NTS,29077,88-13-15-205-005,1451 N WEST AVE,37.225844,-93.325719,0.0,Residential,385.0,2018/03/21,2022/03/17
3498,89305837,10459209,NTS,29077,88-13-16-107-043,2911 W CALHOUN ST,37.223329,-93.335105,0.0,Residential,385.0,2018/03/21,2022/03/17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3578,112488590,11953789,NTS,29077,88-13-23-424-032,717 S MARKET AVE,37.201797,-93.296329,0.0,Residential,385.0,2021/02/18,2022/03/17
3577,112488599,151518950,NTS,29077,88-13-26-103-021,1068 S THELMA AVE,37.194919,-93.302129,0.0,Residential,385.0,2021/02/18,2022/03/17
10858,112488611,187451600,NTS,29077,88-13-28-205-004,3475 W FARM ROAD 142,37.194216,-93.349033,0.0,Residential,385.0,2021/02/18,2022/03/17
24314,112488607,25923395,NTS,29077,88-13-36-112-001,1054 E CHEROKEE ST,37.178030,-93.279440,0.0,Residential,385.0,2021/02/18,2022/03/17
10839,112488593,28779097,NTS,29077,88-18-09-311-008,3404 W SYLVANIA ST,37.138910,-93.349477,0.0,Residential,369.0,2021/02/18,2022/03/17

time: 16.9 ms (started: 2022-03-21 15:52:06 -04:00)

In [859]:
fc[fc_cols].to_csv('foreclosure-sample-filtered.csv', index=False)

time: 147 ms (started: 2022-03-21 16:03:30 -04:00)

In [861]:
tax.attomid

0        299941492
1        299941498
2        299938645
3        299938646
4        299938652
           ...
32307    333969305
32308    333969253
32309    333969220
32310    333969172
32311    333969336
Name: attomid, Length: 32312, dtype: int64

time: 4.52 ms (started: 2022-03-22 10:30:39 -04:00)

## Check overlapping: Tax Assessor File <> Foreclosure file

In [870]:
counties = gp.read_file('https://www2.census.gov/geo/tiger/TIGER2019/COUNTY/tl_2019_us_county.zip')
counties = counties[counties.STATEFP == '29'][['GEOID', 'geometry',]]
counties3 = counties[counties.GEOID.isin(['29049', '29147', '29227',])]
counties3

      GEOID                                           geometry
1575  29227  POLYGON ((-94.46066 40.57110, -94.46047 40.571...
2232  29147  POLYGON ((-95.17904 40.31964, -95.17904 40.319...
2846  29049  POLYGON ((-94.60224 39.64563, -94.60224 39.645...

time: 5.44 s (started: 2022-03-22 10:33:42 -04:00)

In [912]:
print(fc.shape, fc.PropertyLongitude.count(), fc.PropertyLatitude.count(), )
fc_id = gp.GeoDataFrame(
    fc, geometry = gp.points_from_xy(fc.PropertyLongitude, fc.PropertyLatitude)).set_crs(counties3.crs)
fc_id3 = gp.sjoin(fc_id, counties3, how = 'left', predicate = 'within')
fc_id3 = fc_id3.rename(columns={'[ATTOM ID]': 'attomid'})
fc_id3['attomid'] = fc_id3.attomid.fillna(-1).astype(int)
fc_id3 .shape

(26108, 106)

time: 199 ms (started: 2022-03-22 10:48:25 -04:00)

In [919]:
fc_id3 = fc_id3.dropna(subset=['GEOID'])
# NOTE: there's an ATTOM ID that is in Foreclosure file, but not in Tax Assessor File!
fc_id3.shape, tax.shape, fc_id3.shape, set(fc_id3.attomid) - set(tax.attomid)

(101, 106)

time: 4.53 ms (started: 2022-03-22 10:50:22 -04:00)

In [924]:
fc_id[fc_id['[ATTOM ID]'].isin({299491630})]

,TransactionID,[ATTOM ID],RecordType,SitusStateCode,SitusCounty,PropertyJurisdictionName,SitusStateCountyFIPS,ParcelNumberFormatted,PropertyAddressFull,PropertyAddressHouseNumber,...,AuctionUnit,AuctionCity,AuctionDate,AuctionTime,RecordedAuctionOpeningBid,EstimatedValue,CreateDate,RecordLastUpdated,PublicationDate,geometry
20381,103065016,299491630,NTS,MO,Clinton,CLINTON,29049,10 07.1 25 004 009 002.000,304 CLINTON ST,304,...,NaN,Lathrop,2019/09/17,09:30:00,0.0,NaN,2019/08/08,2019/08/08,2022/03/17,POINT (-94.32367 39.54658)

time: 15.4 ms (started: 2022-03-22 10:51:17 -04:00)